@import 'vars.scss';

body {
    font-family: 'Assistant', sans-serif;
}
h1, h2 {
    letter-spacing: 1px; /* Override Skeleton */
}
p {
    font-size: 2rem;
}
nav {
    height: 8rem;
    margin-bottom: 2rem;
    color: $snow;
    background-color: $deepTuscanRed;

    .stockpile-logo {
        display: block;
        height: 6rem;
        background-image: url('../images/stockpile-logotype-snow.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    /* Vertically center title */
    h1 {
        padding-top: 1rem;
    }

    @media (min-width: 550px) {
        h1 {
            padding-top: 1.1rem;
        }
    }
}
header {
    &.container { /* Override Skeleton */
        margin-bottom: 2rem;
    }
    .tipi {
        $tipi-size: 12rem;
        height: $tipi-size;
        width: $tipi-size;
        background-image: url('../images/stockpile-tipi.svg');
        @include background-image-properties();
    }
    @media (min-width: 500px) {
        .tipi {
            $tipi-size: 25rem;
            height: $tipi-size;
            width: $tipi-size;
        }
    }
}
.equipment-overhead {
    width: 100%;
    height: 35rem;
    margin-right: 0;
    margin-left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/equipment-overhead.jpg');
    color: $snow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: 5.5rem;
        background-color: rgba($deepTuscanRed, 0.8);
        box-decoration-break: clone;
        padding: 1.5rem;
    }
}
.call-to-action {
    color: $deepTuscanRed;
    text-align: center;
    h2 {
        margin-bottom: 0.5rem;
    }
}
