@import 'vars.scss';
@import 'nav.scss';

body {
    font-family: 'Assistant', sans-serif;
}
h1, h2 {
    letter-spacing: 1px; /* Override Skeleton */
}
p {
    font-size: 2rem;
    text-align: left;
}
header {
    &.container { /* Override Skeleton */
        padding-top: 8rem;
        margin-bottom: 8rem;
    }
    .tipi {
        $tipi-size: 12rem;
        height: $tipi-size;
        width: $tipi-size;
        background-image: url('../images/stockpile-tipi.svg');
        @include background-image-properties(contain);
    }
    p {
        text-align: center;
    }
    @media (min-width: 1022px) {
        .tipi {
            $tipi-size: 25rem;
            height: $tipi-size;
            width: $tipi-size;
        }
        p {
            text-align: left;
        }
    }
}
section {
    margin-bottom: 3rem;
    padding: 1rem;
}
.stockpile-inventory {
    width: 100%;
    height: $screenshot-height;
    background-image: url('../images/stockpile-inventory.png');
    @include background-image-properties(contain);
}
.stockpile-scan {
    width: 100%;
    height: $screenshot-height;
    background-image: url('../images/stockpile-scan.png');
    @include background-image-properties(contain);
}
.photography-kit {
    width: 100%;
    height: $screenshot-height;
    background-image: url('../images/photography-kit.png');
    @include background-image-properties(contain);
    @media (min-width: 600px) {
        height: 30rem;
    }
}
.equipment-overhead {
    width: 100%;
    height: 35rem;
    margin-right: 0;
    margin-left: 0;
    @include background-image-properties(cover);
    background-image: url('../images/equipment-overhead.jpg');
    color: $snow;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    h2 {
        font-size: 3.5rem;
        background-color: rgba($deepTuscanRed, 0.8);
        box-decoration-break: clone;
        padding: 1rem 0.5rem;
    }
    @media (min-width: 600px) {
        h2 {
            font-size: 5.5rem;
            padding: 1.5rem;
        }
    }
}
.call-to-action {
    color: $deepTuscanRed;
    text-align: center;
    h2 {
        margin-bottom: 0.5rem;
    }
}
footer p {
    padding-top: 3rem;
    font-size: 1.5rem;
}
