// Colors
$begonia: #FF6978;
$snow: #FFFCF9;
$paleTurquoise: #B1EDE8;
$deepTuscanRed: #6D435A;
$onyx: #352D39;

// Mixins
@mixin background-image-properties($size) {
    background-size: $size;
    background-repeat: no-repeat;
    background-position: center;
}
